<div class="col-md-5">
  <% if flash[:error] %>
  <div class="alert alert-danger">
    <%=flash[:error]%>
  </div>
  <% end %>
  <% if flash[:success] %>
  <div class="alert alert-success">
    <%=flash[:success]%>
  </div>
  <% end %>
  <div class="card bg-transparent">
    <div class="card-header text-light pt-1" style="background-color: rgba(0,0,0,0.1);">
      <div class="row p-0">
        <div class="col p-0"></div>
        <div class="<%= @question.user==current_user ? "col-3" : "col-1"%>">
          <div class="row p-0">
            <div class="col p-0">
              <form class="p-0" action="/questions/<%=@question.id%>/likes" method="post">
                  <% if !@question.likes.find_by(user:current_user) %>
                  <button class="btn p-0 bg-transparent btn-block text-light" type="submit" title="Like"><%=@question.likes.count%>&nbsp;&nbsp;<i id="like_button" class="fa" aria-hidden="true"></i></button>
                  <% else %>
                  <input type="hidden" id="hidden" name="_method" value="delete">
                  <button class="btn p-0 bg-transparent text-light" type="submit" title="Unlike"><%=@question.likes.count%>&nbsp;&nbsp;<i id="unlike_button" class="fa" aria-hidden="true"></i></button>
                  <% end %>
              </form>
            </div>
            <% if @question.user==current_user %>
            <% if !@question.answered %>
            <div class="col p-0">
              <a class="btn bg-transparent p-0 btn-block text-light" href="/questions/<%=@question.id%>/edit" title="Edit Question"><i id="edit_button" class="fa" aria-hidden="true"></i></a>
            </div>
            <% end %>
            <div class="col p-0">
              <form action="/questions/<%=@question.id%>" method="post">
                <input type="hidden" id="hidden" name="_method" value="delete">
                  <button class="btn btn-block p-0 bg-transparent text-light" type="submit" title="Delete Question"><i id="delete_button" class="fa" aria-hidden="true"></i></button>
              </form>
            </div>
            <% end %>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <h2 class="card-title display-4">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <%=@question.content %>
            </h2>
          </div>
      </div>
      <div class="row">
        <div class="col"><small class="card-subtitle">Categories: <%=categories.join(", ")%></small></div>
        <div class="col text-right"><cite><small><a class="card-link text-light" href="/users/<%=@question.user.username%>">By <%=@question.user.username%></a></small></cite></div>
      </div>
    </div>
    <div class="card-body bg-light">
      <% if !@question.answered %>
      <form action="/questions/<%=@question.id%>/answers" method="post">
        <div class="form-group">
          <textarea class="form-control form-control-lg" name="content" rows="5" cols="80" placeholder="Enter your reply here"></textarea>
        </div>
        <div class="row">
          <div class="col"><input class="btn btn-lg send-btn" type="submit" value="Reply"></div>
        </form>
        <% if @question.user==current_user %>
        <div class="col my-auto text-right">
          <form action="/questions/<%=@question.id%>/answered" method="post">
            <input type="hidden" name="_method" value="patch">
            <input class="btn btn-outline-success" type="submit" value="Mark as answered">
          </form>
        </div>
        <% end %>
      </div>
      <% else %>
      <div class="row">
        <div class="col display-4 text-center text-secondary" style="font-size:32px;">
          <i class="fa fa-check-circle" aria-hidden="true"></i> Question has been answered
        </div>
      </div>
      <% if @question.user==current_user %>
      <div class="row pt-4">
        <div class="col my-auto text-center">
          <form action="/questions/<%=@question.id%>/answered" method="post">
            <input type="hidden" name="_method" value="patch">
            <input class="btn btn-outline-danger" type="submit" value="Unmark as answered">
          </form>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="card-footer" style="background-color: rgba(0,0,0,0.1);">
      <% if @question.answers.count > 0 %>
      <h3 class="text-light display-4">Answers</h3>
      <ul class="list-group text-secondary">
        <% @question.answers.each do |answer| %>
        <li class="list-group-item bg-light">
          <div class="row">
            <div class="col">
              <h5 class="card-title">
                <i class="fa fa-user color-light" aria-hidden="true"></i>
                <%=answer.user.username %> wrote
              </h5>
            </div>
            <div class="col-8 text-right"><small>Created <%=Helpers.distance_of_time_in_words(answer.created_at.to_i)%> ago. Updated <%=Helpers.distance_of_time_in_words(answer.updated_at.to_i)%> ago.</small></div>

          </div>
          <div class="row bg-white">
            <div class="col card-text py-2"><%=answer.content%></div>
          </div>
          <div class="row">
            <div class="col">
              <form action="/answers/<%=answer.id%>/likes" method="post">
                <% if !answer.likes.find_by(user:current_user) %>
                <button class="btn p-0 bg-transparent text-primary" type="submit" title="Like"><%=answer.likes.count%>&nbsp;&nbsp;<i id="like_button" class="fa" aria-hidden="true"></i></button>
                <% else %>
                <input type="hidden" id="hidden" name="_method" value="delete">
                <button class="btn p-0 bg-transparent text-primary" type="submit" title="Unlike"><%=answer.likes.count%>&nbsp;&nbsp;<i id="unlike_button" class="fa" aria-hidden="true"></i></button>
                <% end %>
              </form>
            </div>
            <% if answer.user==current_user %>
            <% if !@question.answered %>
            <div class="col text-center">
              <a class="btn p-0 bg-transparent text-warning" href="/answers/<%=answer.id%>/edit" title="Edit Answer"><i id="edit_button" class="fa" aria-hidden="true"></i></a>
            </div>
            <% end %>
            <div class="col text-right">
              <form action="/answers/<%=answer.id%>" method="post">
                <input type="hidden" id="hidden" name="_method" value="delete">
                <button class="btn bg-transparent text-secondary p-0" type="submit" title="Delete Answer"><i id="delete_button" class="fa" aria-hidden="true"></i></button>
              </form>
            </div>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% else %>
      <h4 class="text-light">No answers yet.</h4>
      <% end %>
    </div>
  </div>
</div>
